<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h2 id="aspnetTitle">OBJETIVO</h2>
        <p class="lead">
            Avaliar a capacidade de análise do desenvolvedor e a habilidade para
            implementação de soluções fundamentadas pelos princípios do SOLID, Testes
            unitários e performance.
        </p>
        <h2 id="aspnetTitle">DESAFIO DO CÁLCULO DO CDB</h2>
        <p class="lead">
            1. Solicitamos a criação de uma tela web onde possamos informar um valor
            monetário positivo, e um prazo em meses maior que 1(um) para resgate
            da aplicação. Após solicitar o cálculo do investimento, a tela deve
            apresentar o resultado bruto e o resultado líquido do investimento.
            <br /><br />
            2. Solicitamos a criação de uma Web API que receba os dados informados
            no item 1
            <br /><br />
            a. Para o cálculo do CDB, deve-se utilizar a fórmula VF = VI x [1 +
            (CDI x TB)] onde:<br />
            i. VF é o valor final;<br />
            ii. VI é o valor inicial;<br />
            iii. CDI é o valor dessa taxa no último mês;<br />
            iv. TB é quanto o banco paga sobre o CDI;<br />
            Nota: A fórmula calcula somente o valor de um mês. Ou seja, os
            rendimentos de cada mês devem ser utilizados para calcular o mês
            seguinte
            <br /><br />
            b. Para medida do Exercício considerar os valores abaixo como fixos:<br />
            i. TB – 108%<br />
            ii. CDI – 0,9%
            <br /><br />
            c. Para cálculo do imposto utilizar a seguinte tabela:<br />
            i. Até 06 meses: 22,5%<br />
            ii. Até 12 meses: 20%<br />
            iii. Até 24 meses 17,5%<br />
            iv. Acima de 24 meses 15%
        </p>
    </section>
</main>